.left-top {
  border: 1px solid orange;
  height: 50vh;
  width: 100%;
}
.left-bottom {
  border: 1px solid red;
  height: 40vh;
  width: 100%;
}
.profile-top {
  height: 50%;
  width: 100%;
  border: 1px solid yellow;
  background-color: #53a5e4;
}

/* trying to make round image container to insert profile picture, reference twitter for example */

.profile-middle {
  position: sticky;
  height: 1%;
  width: 1%;
  border-radius: 25%;
  border: 1px solid pink;
}

.profile-bottom {
  display: grid;
  grid-auto-flow: row;
  height: 50%;
  width: 100%;
  border: 1px solid green;
}
